@font-face {
  font-family: "PlayfairDisplay";
  src: url("../Playfair-Display/TTF/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body, html {
  background: #000;
  font-family: "PlayfairDisplay";
  color: #fff;
}

:local(.banner) {
  font-size: 4rem;
}